<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.vocaup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VocaUp"
        android:usesCleartextTraffic="true">
        <activity android:name=".quiz.SpellingMeanLink" />
        <activity android:name=".quiz.SpellingSort" />
        <activity android:name=".quiz.SpellingMean" />
        <activity android:name=".quiz.MeanSpelling" />
        <activity android:name=".quiz.BlankSpelling" />
        <activity android:name=".quiz.PronMean" />
        <activity android:name=".quiz.CrossWord" />
        <activity android:name=".activity.DetailActivity" />
        <activity
            android:name=".activity.MenuActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.TestResultActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>